 <div class="header">
     <div class="container"> 
      <style type="text/css">.custom {font-family: Courier;color: White;font-size:20px;}</style>
         <p class="custom"><a href="{{ site.baseurl }}/">{{ site.title }}</a></p>
         <nav class="nav-collapse">
             <ul class="noList">
                 {% for link in site.navigation %}{% assign current = nil %}{% if page.url contains link.url or forloop.first and page.url == '/' or page.url == 'index.html' %}{% assign current = 'current' %}{% endif %}
                 <li class="element {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
                     <a href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
                 </li> 
                 {% endfor %}
                 <li> <a href="https://github.com/sundeeppothula1993/ART-ML" target="_blank">GitHub</a></li>
                 <li><a href="https://www.researchgate.net/profile/Saed_Sayad2/publication/265619432_Real_Time_Data_Mining/links/585495e008aeff086bf6f0c7/Real-Time-Data-Mining.pdf?origin=publication_detail">Download Paper</a></li>
             </ul>
         </nav>
     </div>
 </div><!-- end .header -->
